In [1]:
#count the string
text = 'anucree'
count = 0
for i in range(0,len(text)):
    if(text[i]!=' '):
        count = count + 1
print(count)

7

In [2]:
# length of string
str=input("Enter the String:")
len=0
while str[len:]:
    len+=1
print("Your Enter String is:", len)

Enter the String:anucreee
Your Enter String is: 8

In [5]:
#replace blank space
str1 = input("Please Enter your Own String : ")
str2 = str1.replace(' ', '_')
print("Original String :  ", str1)
print("Modified String :  ", str2)

Please Enter your Own String : anucree 199
Original String :   anucree 199
Modified String :   anucree_199

In [10]:
#count the string
string = "Hi there how are you"
my_counter=0
for i in my_string:
   if(i.islower()):
      my_counter=my_counter+1
print(my_counter)

15

In [15]:
#common letter
s1=input("Enter first string:")
s2=input("Enter second string:")
a=list(set(s1)&set(s2))
print("The common letters are:")
for i in a:
    print(i)

Enter first string:anucree
Enter second string:kunjakuzhyil
The common letters are:
n
u
a

In [18]:
#palindrome
string=input(("Enter a letter:"))  
if(string==string[::-1]):  
      print("The letter is a palindrome")  
else:  
      print("The letter is not a palindrome")

Enter a letter:anucree
The letter is not a palindrome

In [19]:
#product
n1 = int(input("Enter first number: "))
n2 = int(input("Enter second number: "))
prod = n1 * n2
print("The product is:",prod)

Enter first number: 23
Enter second number: 45
The product is: 1035

In [21]:
#table
number = int(input ("enter you want the table: "))      
count = 1       
print ("The Multiplication Table of: ", number)    
while count <= 10:    
    number = number * 1    
    print (number, 'x', i, '=', number * count)    
    count += 1

enter you want the table: 5
The Multiplication Table of:  5
5 x a = 5
5 x a = 10
5 x a = 15
5 x a = 20
5 x a = 25
5 x a = 30
5 x a = 35
5 x a = 40
5 x a = 45
5 x a = 50

In [22]:
#smallest divisor
firstnumber = int(input("Enter a number"))
my_list = []

print("The number is ")
print(firstnumber)
for i in range(2,firstnumber+1):
   if(firstnumber%i==0):
      my_list.append(i)
my_list.sort()
print("The smallest divisor is : ")
print(my_list[0])

Enter a number4
The number is
4
The smallest divisor is :
2

In [23]:
#convert 
cm=int(input("Enter the centimeters:"))
inches=0.394*cm
feet=0.0328*cm
print("The length in inches",round(inches,2))
print("The length in feet",round(feet,2))

Enter the height in centimeters:150
The length in inches 59.1
The length in feet 4.92

In [1]:
#sum
num1 = int(input("enter the number:"))
num2 = int(input("enter the number"))
sum = num1+num2
print(sum)

enter the number:3
enter the number3
6

In [2]:
#integer smallest divisor
n=int(input("Enter an integer:"))
a=[]
for i in range(2,n+1):
    if(n%i==0):
        a.append(i)
a.sort()
print("Smallest divisor is:",a[0])

Enter an integer:30
Smallest divisor is: 2

In [4]:
#divisible not 2 or 3
divisible = []
for i in range(1, 11):
    if i % 2 != 0 and i % 3 != 0:
        divisible.append(i)
print("Numbers not divisible by 2 or 3:")
for num in divisible:
    print(num)

Numbers not divisible by 2 or 3:
1
5
7

In [7]:
lower=int(input("Enter lower range limit:"))
upper=int(input("Enter upper range limit:"))
n=int(input("Enter the number to be divided by:"))
for i in range(lower,upper+1):
    if(i%n==0):
        print(i)

Enter lower range limit:1
Enter upper range limit:50
Enter the number to be divided by:5
5
10
15
20
25
30
35
40
45
50

In [ ]:
#leap year
year=int(input("Enter year:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("leap year!")
else:
    print("not a leap year!")

In [ ]:
rows = int(input("Enter the number of rows: "))  
 
for a in range(rows + 1, 0, -1):    
    for b in range(0, a - 1):  
        print("*", end=' ')  
    print(" ")