In [1]:
fruits = set(("apple", "pineapple", "cherry"))
print(fruits)

{'cherry', 'pineapple', 'apple'}

In [2]:
fruits = {'cherry', 'pineapple', 'apple'}
fruits.add("banana")
print(fruits)

{'banana', 'cherry', 'pineapple', 'apple'}

In [3]:

fruits.remove("cherry")
print(fruits)

{'banana', 'pineapple', 'apple'}

In [4]:
num1={1,2,3,4}
num2={5,6,7,8}
num3= num1.union(num2)
print(num3)

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
num1={1,2,3,4,8,8}
num2={5,6,7,8,2,5}
num3= num1.intersection(num2)
print(num3)

{8, 2}

In [7]:
num1={1,2,3,4,8,8}
num2={5,6,7,8,2,5}
num3= num1.difference(num2)
print(num3)

{1, 3, 4}

In [8]:
num1={1,2,3,4,8,8}
num2={5,6,7,8,2,5}
num3= num1.issubset(num2)
print(num3)

False

In [9]:
veg=fruits.copy()
print(veg)

{'banana', 'pineapple', 'apple'}

In [14]:
fruit = {'banana','pineapple','apple'}
print(len(fruit))

3

In [26]:
car = {
  "company": "Ford",
  "model": "second",
  "year": 2010
}
car["color"] = "black"
print(car)

{'company': 'Ford', 'model': 'second', 'year': 2010, 'color': 'black'}

In [19]:
car = {
  "company": "Ford",
  "model": "Mustang",
  "year": 2010
}
car.update({"color": "black"})
print(car)

{'company': 'Ford', 'model': 'Mustang', 'year': 2010, 'color': 'black'}

In [21]:
for x in fruits:
  print(x)

banana
pineapple
apple

In [40]:
for x,y in car.items():
    print(x,y)

company Ford
model Mustang
year 2010

In [41]:
car = {
  "company": "Ford",
  "model": "second",
  "year": 2010
}
del car["year"]
print(car)

{'company': 'Ford', 'model': 'second'}